{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">

        <div class="banner">
            <div class="banner-text">
                <h1>ToDo</h1>
            </div>
        </div>

</div>
<div class="container">

</div>
    <div class="row">
        <div class="col-md-6">
        <form method="post" class="p-3 shadow">
    {% csrf_token %}
        <div class="form-group">
     <input type="text" placeholder="enter the task" name="name" class="form-control">
       </div><br>
            <div class="form-group">
    <input type="text" placeholder="enter your priority" name="priority" class="form-control">
            </div><br>
            <div class="form-group">
    <input type="date"  name="date" class="form-control">
            </div><br>
            <input type="submit" class="btn btn-success">
       </form>
    </div>

        <div class="col-md-6">
             {% for i in task %}
            <div class="shadow card">
                <div class="card-body">
                   <h5 class="card-title">{{i.name}}</h5>
                    <p><b>{{i.priority}}</b></p>
                    <p><b>{{i.date}}</b></p>
                    <a class="btn btn-danger" href="{% url 'delete' i.id %}">Done</a>
                    <a class="btn btn-success" href="{% url 'update' i.id %}">Update</a>
                </div>
            </div><br>
            {% endfor %}
        </div>
</div>
</div>

{% endblock %}

